body {
  color: #000000;
  background-color: #F00000;
  font-family: Verdana, Arial, sans-serif;
}

A {
  color: #336699;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: underline;
  font-size: 14px;
}

A:visited {
  color: #ffffff;
  text-decoration: underline;
}

A:hover {
  color: #808080;
}

A:link {
  color: #000000;
  text-decoration: underline;
}

table {
  border-width: 0;
  width: 350;
  vertical-align: top;
  background-color: #f00000;
}

td.bluebgtext {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  background-color: #f00000;
}
